.container {
    background-color: #f09e3a;
    height: 580px;
    width: 780px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/*Login*/
.login_title {
    font-size: 64px;
    font-weight: bold;
    color: #62270e;
    margin: 0;
}

.login {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ctn_input {
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ctn_input > input {
    width: 400px;
    padding: 0 10px;
    height: 30px;
    border: none;
    border-bottom: 3px solid #62270e;
    border-radius: 15px;
    outline: 0;
}

.ctn_input > input:hover, .ctn_input > input:focus {
    border-bottom: 3px solid green;
}

.ctn_input > label {
    color: #62270e;
}

button {
    width: 180px;
    border: none;
    border-radius: 15px;
    background-color: #62270e;
    color: white;
    height: 40px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

/*Logout*/
.btn_sair:hover {
    background-color: rgb(170, 19, 19);
}